/* Navigation Bar */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vw;
  margin-top: 10px;
  width: 80vh;
  background-color: #00ffff;
}

/* Playlist Route */
.nav .route {
  position: relative;
  width: 15vw;
}

.nav .route .title {
  cursor: pointer;
}

.nav .route:hover .list {
  display: block;
}

.route .list {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 36px;
  text-align: center;
  background-color: #00ffff;
}

.route .list li {
  height: 15vw;
  line-height: 25px;
  font-size: 15px;
  cursor: pointer;
}

.route .list li:hover {
  background-color: #ff0;
}

/* Search Input */
.nav .search {
  width: 60vw;
  margin: 0 5px;
  outline: none;
  font-size: 16px;
}

/* Buttons */
.nav button {
  width: 10vw;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.nav .clear {
  margin-left: 5px;
}

/* Player */
.player {
  display: block;
  width: 85vh;
  height: 35vw;
  margin: 15vw auto;
  background-color: #ddd;
  border: none;
  overflow: hidden;
}
