body {
  display: flex;
  flex-direction: row; /* 设置主轴方向为横向 */
}

/* Navigation Bar */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vw;
  margin-top: 10px;
  width: 80vh;
  background-color: #00ffff;
  transform: rotate(90deg);
}

/* Playlist Route */
.nav .route {
  position: relative;
  width: 130px;
  transform: rotate(90deg);
}

.nav .route .title {
  cursor: pointer;
  transform: rotate(90deg);
}

.nav .route:hover .list {
  display: block;
  transform: rotate(90deg);
}

.route .list {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 36px;
  text-align: center;
  background-color: #00ffff;
  transform: rotate(90deg);
}

.route .list li {
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  cursor: pointer;
}

.route .list li:hover {
  background-color: #ff0;
  transform: rotate(90deg);
}

/* Search Input */
.nav .search {
  width: 666px;
  margin: 0 5px;
  outline: none;
  font-size: 16px;
  transform: rotate(90deg);
}

/* Buttons */
.nav button {
  width: 50px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.nav .clear {
  margin-left: 5px;
}

/* Player */
.player {
  display: block;
  width: 700px;
  height: 80vh;
  margin: 30px auto;
  background-color: #ddd;
  border: none;
  overflow: hidden;
  transform: rotate(90deg);
}
